/* button dark */
.button-dark {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#464d55, #25292e);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1), 0 3px 6px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: expo-brand-demi, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 18px;
  height: 52px;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.button-dark:hover {
  box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
  opacity: .85;
}

.button-dark:active {
  outline: 0;
}

.button-dark:focus {
  box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}

/* button previous */
.button-previous {
  background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
  box-shadow: 0 4px 15px 0 #00a950;
  border-radius: 40px;
  border: none;
  box-sizing: border-box;
  color: #00a84f;
  display: block;
  height: 50px;
  font-size: 1.4em;
  padding: 4px;
  position: relative;
  text-decoration: none;
  z-index: 2;
  padding-right: calc(0.75cm * 2);
  transition: all .4s ease-in-out;
  margin-bottom: 1cm;
  margin-top: 0;
  margin-left: 2cm;
  margin-right: 2cm;
  float: left;
}

.button-previous:hover {
  color: #fff;
}

.button-previous:active {
  transform: scale(2);
}

.button-previous .button-previous-span {
  align-items: center;
  background: #0e0e10;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  height: 100%;
  padding-left: 0.75cm;
  padding-right: 0.75cm;
  transition: background 0.5s ease;
  width: 100%;
}

.button-previous:hover .button-previous-span {
  background: transparent;
}

/* button next */
.button-next {
  background-image: linear-gradient(to right,
      #25aae1,
      #4481eb,
      #04befe,
      #3f86ed);
  background-size: 300% 100%;
  color: white;
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  border-radius: 40px;
  border: none;
  box-sizing: border-box;
  display: block;
  height: 50px;
  font-size: 1.4em;
  padding: 4px;
  position: relative;
  text-decoration: none;
  padding-left: 0.75cm;
  padding-right: 0.75cm;
  z-index: 2;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  margin-bottom: 1cm;
  margin-top: 0;
  margin-left: 2cm;
  margin-right: 2cm;
  float: right;
}

.button-next:hover {
  background-position: 100% 0;
}

.button-next:focus {
  outline: none;
}

.button-next:active {
  transform: scale(2);
}

.button-next .button-next-span {
  align-items: center;
  background: transparent;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}

.button-next:hover .button-next-span {
  background: transparent;
}

/* button index */
.button-index {
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 0.5cm;
  padding-left: 2cm;
  padding-right: 2cm;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  /* animation: vertical-shaking 0.3s infinite ease-in-out; */
}

.button-index:hover {
  animation: infinite_pulse 2s infinite linear;
}

.button-index.active {
  animation: black_hole 0.5s ease-in-out forwards;
}

@keyframes black_hole {
  0% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: scale(0) rotate(360deg);
    opacity: 0;
  }
}

@keyframes infinite_pulse {
  0% {
    transform: scale(1.4) rotate(0deg);
  }

  25% {
    transform: scale(1.1) rotate(90deg);
  }

  50% {
    transform: scale(0.8) rotate(180deg);
  }

  75% {
    transform: scale(1.1) rotate(270deg);
  }

  100% {
    transform: scale(1.4) rotate(360deg);
  }
}

@keyframes vertical-shaking {
  0% { transform: translateY(0) }
  25% { transform: translateY(15px) }
  50% { transform: translateY(-15px) }
  75% { transform: translateY(15px) }
  100% { transform: translateY(0) }
 }

:root {
  --rad: .7rem;
  --dur: .3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #57bd84;
  --font-fam: 'Lato', sans-serif;
  --height: 5rem;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

.search {
  position: relative;
  width: 30rem;
  background: var(--color-brand);
  border-radius: var(--rad);
  margin: 1cm;
}

#light-theme .search {
  border: solid 1px black;
}

.search input,
.search button {
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
  font-size: 1.8rem;
}

.search input[type="search"] {
  outline: 0;
  width: 100%;
  background: var(--color-light);
  padding: 0 1.6rem;
  border-radius: var(--rad);
  appearance: none;
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}

.search button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-width);
  font-weight: bold;
  background: var(--color-brand);
  border-radius: 0 var(--rad) var(--rad) 0;
}

.search input:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));

  +button {
    display: block;
  }
}

.search label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}