:root {
  --circle-size: clamp(1.5rem, 5vw, 3rem);
  --spacing: clamp(0.25rem, 2vw, 0.5rem);
}

.stepper {
  display: flex;
}

.stepper-item {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
}

.stepper-item:before {
  --circle-size: 3rem;
  content: attr(data-step);
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--circle-size);
  height: var(--circle-size);
  border-radius: 50%;
  margin: 0 auto 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.stepper-item.active:before {
  background-color: blue !important;
}

.stepper-item:not(:last-child):after {
  content: "";
  position: relative;
  top: calc(var(--circle-size) / 2);
  width: calc(100% - var(--circle-size) - calc(var(--spacing) * 2));
  left: calc(50% + calc(var(--circle-size) / 2 + var(--spacing)));
  height: 2px;
  background-color: #e0e0e0;
  order: -1;
}

.stepper-item-title {
  font-weight: bold;
  font-size: clamp(1rem, 4vw, 1.25rem);
  margin-bottom: 0.5rem;
}

/* theme */
#dark-theme .stepper-item.active:before {
  color: white;
}

#light-theme .stepper-item:before {
  color: white;
  background-color: black;
}

#dark-theme .stepper-item:before {
  color: black;
  background-color: white;
}