.topbar {
    min-height: 2cm;
    max-height: 2cm;
    min-width: 100%;
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    z-index: 1;
}

.topbar_title {
    position: relative;
    display: inline-block;
    top: 0;
    font-size: 1cm;
    min-height: 2cm;
    max-height: 2cm;
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
    padding-left: 1cm;
    padding-right: 1cm;
}

.topbar_title:hover {
    filter: brightness(1.3);
}

.topbar_item,
.topbar_item_right {
    position: relative;
    font-size: 0.5cm;
    min-height: 2cm;
    max-height: 2cm;
    padding-top: 0.75cm;
    padding-bottom: 0.75cm;
    padding-left: 1.25cm;
    padding-right: 1.25cm;
}

.topbar_item:hover {
    filter: brightness(1.3);
    background-color: rgba(0, 0, 0, 0.6);
}

.topbar .topbar_item_right {
    position: absolute;
    right: 0;
    padding: 0;
}

.topbar_title_img {
    max-height: 1.75cm;
    max-width: 1.75cm;
    position: absolute;
    top: 0.125cm;
    left: 0.5cm;
}

.topbar_title {
    padding-left: 2.5cm;
}

.content {
    position: fixed;
    padding-bottom: 2cm;
    min-height: calc(100vh - 2cm - 2px);
    max-height: calc(100vh - 2cm - 2px);
    top: calc(2cm + 2px);
    left: 0;
    min-width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.settings-button {
    border-radius: 50%;
    min-height: 1.25cm;
    min-width: 1.25cm;
    max-width: 1.25cm;
    max-height: 1.25cm;
    transition: background 150ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0.375cm;
    overflow: hidden;
    background: white;
    border: 3px solid rgb(0, 221, 255);
}

.settings-button.bottom {
    position: fixed;
    right: 0.5cm;
    bottom: 0.5cm;
}

.settings-button:hover {
    background: rgb(0, 221, 255);
}

.settings-icon {
    max-height: 0.75cm;
    max-width: 0.75cm;
    transform: scale(1.5) translateX(8%) translateY(8%);
    overflow: hidden;
    fill: #0a0183;
}

/* dark theme */
#dark-theme .topbar {
    background-color: #000d1a;
    border-bottom: 2px solid white;
}

#dark-theme .topbar_title,
#dark-theme .topbar_item {
    color: white;
}

/* light theme */
#light-theme .topbar {
    background-color: rgb(208, 208, 208);
    border-bottom: 2px solid black;
}

#light-theme .topbar_title,
#light-theme .topbar_item {
    color: black;
}