#dark-theme .login-box {
  background: rgba(0, 0, 0, .5);
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
}

#dark-theme .login-box h2 {
  color: #fff;
}

#dark-theme .login-box .user-box input {
  color: #fff;
  border-bottom: 1px solid #fff;
}

#dark-theme .login-box .user-box label {
  color: rgb(0, 221, 255);
}

#dark-theme .login-box .user-box input:focus~label,
#dark-theme .login-box .user-box input:valid~label {
  color: #03e9f4;
}

#dark-theme .login-box .form .a {
  color: #03e9f4;
}

#dark-theme .login-box .a:hover {
  background: #03e9f4;
  color: #fff;
  box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

#dark-theme .login-box .a span:nth-child(1) {
  background: linear-gradient(90deg, transparent, #03e9f4);
}

#dark-theme .login-box .a span:nth-child(2) {
  background: linear-gradient(180deg, transparent, #03e9f4);
}

#dark-theme .login-box .a span:nth-child(3) {
  background: linear-gradient(270deg, transparent, #03e9f4);
}

#dark-theme .login-box .a span:nth-child(4) {
  background: linear-gradient(360deg, transparent, #03e9f4);
}

#dark-theme .a {
  border: transparent;
  background: transparent;
}

#dark-theme .login_option a {
  color: #03e9f4;
}


/* Create a custom checkbox */
#dark-theme .checkmark {
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
#dark-theme .container_checkmark:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
#dark-theme .container_checkmark input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Style the checkmark/indicator */
#dark-theme .checkmark:after {
  border-color: white;
}

#dark-theme .login-password-icon {
  color: white;
}