#dark-theme .background {
    background: linear-gradient(#141e30, #243b55);
}

#dark-theme .loader-container {
    background: rgba(0, 0, 0, 1);
}

#dark-theme .spinner {
    border-color: #3d5af1 transparent transparent transparent;
}

#dark-theme .content_1,
#dark-theme .content_2,
#dark-theme .content_3,
#dark-theme p,
#dark-theme .color {
    color: white !important;
}

#dark-theme .background-color {
    background: radial-gradient(ellipse farthest-side at center top, #283244 0, rgba(21, 26, 35) 100%) !important;
}