.content {
    position: fixed;
    min-height: calc(100vh - 2cm);
    max-height: calc(100vh - 2cm);
    top: 2cm;
    left: 0;
    min-width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.content_item {
    margin-left: 2cm;
    margin-top: 2cm;
    margin-bottom: 2cm;
    border-radius: 100%;
    border: 0.25cm solid white;
    max-width: calc((100vw - 6cm) / 2);
    min-width: calc((100vw - 6cm) / 2);
    max-height: calc(100vh - 6cm);
    min-height: calc(100vh - 6cm);
}

.topbar {
    min-height: 2cm;
    max-height: 2cm;
    min-width: 100%;
    max-width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
}

.topbar_title {
    position: relative;
    display: inline-block;
    top: 0;
    font-size: 1cm;
    min-height: 2cm;
    max-height: 2cm;
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
    padding-left: 1cm;
    padding-right: 1cm;
}